# dependencies
node_modules/

# environment files
.env
.env.*

# next.js / frontend build
.next/
out/
build/
dist/
!.env.example

# coverage / tests
coverage/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# editors / os
.vscode/
.idea/
*.swp
*.swo

# vercel
.vercel/